{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <h2>Are you sure that you want to delete user?</h2>
        <hr />

        <h3>User name: {{ user.name }}</h3>

        <br />

        <button type="submit" class="btn btn-danger">Delete user</button>
        <a href="{{ urlFor('admin.users') }}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}