{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <h2>Are you sure that you want to delete post?</h2>
        <hr />

        <h3>Post title: {{ post.title }}</h3>

        <br />

        <button type="submit" class="btn btn-danger">Delete post</button>
        <a href="{{ urlFor('admin.posts') }}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}